.aggregate-menu
	width 340px
	.popup-menu-content
		//font-size 1.1em
	
.system-menu-action
	color gray-base	
	border-radius 3px
	border-color darken(popup-bg-c, 0%) //LoL if i set width!
	font-size 14pt
	&:hover
	&:focus
		background blue-light
		color gray-lighter
	&:active
		background blue-light
	& > StIcon
		icon-size 20px
	/*&:last-child //check what extensions do on that
		background red-lighter
		color gray-lighter
		&:hover
			background red-base
	*/	
		
.system-switch-user-submenu-icon 
	icon-size 50px //user avatar
	border 1px solid darken(popup-bg-c, 8%)
	padding 1px
	border-radius 3px
	
	
.aggregate-menu	
	.popup-separator-menu-item //remove separators from agrgate menu
		padding 0
		height 0px //not really the whole box

		