//fix that with mixins

.button
  border-radius 3px
  padding 8px 32px
  color gray-light
  background-color darken(gray-lighter, 10%)
  box-shadow none
  border none
  text-shadow none
  icon-shadow none
  font-weight bold
  &:active
  &:focus
  &:hover
    background blue-light
    color gray-lighter
    border-color darken(blue-light,20%)
  &:insensitive
    color gray-light
