  //chat bubbles
.chat-body
	spacing 5px
	font-weight bold	
	
.chat-response
	margin 5px
	
.chat-log-message
	color gray-base

.chat-new-group
	padding-top 1em
	
.chat-received
	padding-left 18pt	
	color blue-light
	background #fff //It needs set background to work?!?
	&:rtl
		padding-left 0px 
		padding-right 4px

.chat-sent 
	padding-left 4px
	color gray-light
	background #fff
	&:rtl 
		padding-left 0 
		padding-right 18pt

.chat-meta-message 
	padding-left 4px
	font-size 9pt
	font-weight bold	
	&:rtl 
		padding-left 0 
		padding-right 4px
