
#dash
	border-radius 0px 3px 3px 0px
	background gray-lighter
	&:rtl
		border-radius: 3px 0 0 3px
	.placeholder
		background url("resource:///org/gnome/shell/theme/dash-placeholder.svg")
		background-size contain

	.overview-icon:first-child
		background gray-ligher //get rid of gray
		//padding 0px
		//background-image: url(dash-9dots-img); //fix that
		color gray-base

	/*.overview-icon
		StBin
			width 52px
			height 52px	*/

.show-apps:checked .show-apps-icon
.show-apps:focus .show-apps-icon
	color gray-base
	transition-duration: 100ms;

.dash-label
	border-radius 3px
	padding 4px 12px
	//color: $osd_fg_color;
	//background-color: transparentize($osd_bg_color,0.3);
	text-align center
	-x-offset 8px

.app-well-app
.app-well-app.app-folder
.show-apps
.grid-search-result
	font-weight bold
	font-size 1em
	&:hover
	&:active
	&:checked
		.overview-icon
			border-radius 3px
			transition-duration 200ms
			background gray-lighter
			color gray-base
			box-shadow 0 5px 10px 0 rgba(0,0,0,0.5)
