/* Modal Dialogs */


.headline
	font-size 1.4em
	color gray-base
	text-shadow 0px transparent
.lightbox
	background gray-base
.flashspot
	background gray-lighter

.modal-dialog
	border-radius 3px
	background-color gray-lighter
	border 1px solid darken(gray-lighter, 10%)
	color gray-base
	.run-dialog-label
		color gray-base

/*
.end-session-dialog-logout-icon
	//border: 2px solid #8b8b8b;
	border-radius 5px
	width 48px
	height 48px
	background-size contain
	color red
*/
 .end-session-dialog-shutdown-icon
	color gray-base
	width 48px
	height 48px

StEntry
	border-radius 3px
	background gray-lighter
	color gray-base
	font-size 1.1em
	padding 8px 4px
	&:focus
	&:active
	&:hover
		border 1px solid blue-light
