@import 'variables'
@import 'buttons'

@import 'popup'

@import 'panel'
@import 'notifications'
@import 'dash'
@import 'aggregateMenu'
@import 'calendar'
@import 'overview'
@import 'controls'
@import 'dialogs'
@import 'keyboard'
@import 'chatBubbles'
@import 'legacyTray'
@import 'osd'
@import 'lookingGlass'
@import 'alttab'
@import 'ibusPopup'
@import 'custom'