//Quickly fix that for now


.candidate-popup-content 
	padding 0.5em
	spacing 0.3em
	color gray-base
	min-width 130px	

.candidate-index 
	padding 0 1em 0 0
	color gray-light
	font-weight bold
	font-size 1em

.candidate-box 
	padding 0.3em 0.5em 0.3em 0.5em
	border-radius 3px
	&:selected
	&:hover
		background-color blue-light
		color gray-lighter


.candidate-page-button-box
	height 2em
	.vertical &
		padding-top 0.5em
	.horizontal & 
		padding-left: 0.5em

  
.candidate-page-button
	padding 4px

.candidate-page-button-previous
	border-radius 3px 0px 0px 3px 
	border-right-width 0

.candidate-page-button-next
	border-radius 0px 3px 3px 0px
	

.candidate-page-button-icon
	icon-size 1em //what icon?
