.keyboard-layout 
	spacing 0px
	padding 0px
.keyboard-row 
	spacing: 0px	


.keyboard-key
	border-radius 3px
	min-height 1em
	min-width 1em
	font-size 14pt
	background gray-base
#keyboard 
	background-color rgba(0,0,0,0.1)


	