/*
#LookingGlassDialog 
	background-color gray-base
	color gray-lighter
	spacing 4px
	padding 4px
	border 1px solid darken(gray-base, 10%)
	border-radius: 3px
	& > #Toolbar 
		border none
		padding 10px


	.labels  
		spacing: 4px
		
	.notebook-tab 
		-natural-hpadding 12px
		-minimum-hpadding 6px
		font-weight bold
		color #ccc
		transition-duration 100ms
		padding 10px
		&:hover 
			color blue-light
			text-shadow black 0px 2px 2px			
		&:selected 
			border none
			//border-color lighten($selected_bg_color,5%);
			color cyan-base
			text-shadow: black 0px 2px 2px
			

	
	StBoxLayout#EvalBox  
		padding 4px
		spacing 4px
	StBoxLayout#ResultsArea
		spacing 4px
		
#lookingGlassExtensions
	background rgba(0,0,0,0.1)
	
.lg-extensions-list
	padding 4px
	spacing 10px	
	
.lg-extension 
	background gray-lighter
	color gray-base
	
	*/