
#LookingGlassDialog
	background-color gray-base
	color gray-lighter
	spacing 4px
	padding 6px
	border 3px solid blue-light
	border-radius 3px
	& > #Toolbar
		border none
		padding 10px
		border-radius 0px
	.labels
		spacing: 4px
	.notebook-tab
		-natural-hpadding 12px
		-minimum-hpadding 6px
		font-weight bold
		color #ccc
		transition-duration 100ms
		padding 10px
		&:hover
			color blue-light
			text-shadow black 0px 2px 2px
		&:selected
			border none
			color cyan-base
			text-shadow: black 0px 2px 2px
	StBoxLayout#EvalBox
		padding 4px
		spacing 4px
	StBoxLayout#ResultsArea
		spacing 4px

#lookingGlassExtensions
	background gray-base
	padding 20px
	font-size 13px

.lg-extensions-list
	padding 4px
	spacing 10px

.lg-extension
	background lighten(gray-base, 7%)
	color gray-lighter
	border-radius 3px
	padding 10px
	border none
	border 1px solid darken(gray-base, 7%)

 .lg-extension-name
	 font-weight bold
	 font-size 18px
	 color blue-light
	 padding 5px
	 padding-left 0px

 .lg-extension-meta
	 spacing 6px
	 padding-top 20px
	 color blue-light
	 font-weight bold

.lg-dialog
	StEntry
		selection-background-color blue-light
		selected-color gray-lighter
		.shell-link
			color gray-base
			&:hover
				color blue-light

#LookingGlassDialog
	#Windows
		padding 10px
