.notification-banner
	font-size 10pt
	width 30em
	text-shadow none
	background-color gray-lighter
	border 1px solid darken(gray-lighter, 10%)
	border-radius 3px //or 0 ?
	box-shadow 0px 5px 10px 0px rgba(0,0,0,0.5)

	.notification-icon
		padding 5px
	.secondary-icon
		icon-size 1em//what that does?

	.notification-actions
		background #fff //border color
		color gray-lighter
		font-weight bold

	.notification-button
		padding 8px 0
		background darken(gray-lighter, 2%)
		color gray-base
		&:hover
			background blue-light
			color gray-lighter


.notification
	font-size 10pt
	width 24em
	margin 2px
	border-radius: 0px
	color gray-base
	background-color #fff
	border 1px solid #ccc
	//box-shadow: 0 1px 4px black;
	spacing-rows 2px
	padding 2px
	spacing-columns 4px


.summary-source-counter
	background-color gray-lighter

.notification-unexpanded
	background gray-base

.notification-body
	background blue-light

.message
	padding 4px 0 0 0
	background #fff
	box-shadow  0px 0px 1px rgba(0,0,0,0.07)
	border-radius 3px
	color gray-base
	font-weight normal
	spacing-columns 4px
	font-size 10pt
	border 1px solid rgba(0,0,0,0.1)
	//border-bottom none
	&:hover
	&:focus
	&:active
		color gray-base
		background #f4f4f4


.message-icon-bin
	padding 2px 0px 5px 5px
	&:rtl
		padding 5px 5px 3px 0px //pff, rtl

.message-icon-bin StIcon
	icon-size 48px

.message-list
	width 420px

.message-title
	font-weight bold
	color gray-light
	font-size 10pt
	height 20px //dont scale text on mouse over
	text-shadow 0px 0px transparent //wtf?

.message-content
	padding 8px

.message-list-section
.message-list-section-list
	spacing 0.7em

.message-list-section-title-box
	spacing 0.4em

.message-list-section-close > StIcon
	icon-size 18px
	background-color gray-lighter
	color gray-base
	padding 1px
	border-radius 0px

//close buttons

.window-close
.notification-close
  background-color gray-lighter
  background-size 32px
  height 32px
  width 32px
  color gray-base

.window-close
	-shell-close-overlap: 16px;
	&:rtl
		-st-background-image-shadow 2px 2px 6px rgba(0,0,0,0.5)
