.notification-banner
	font-size 10pt 
	width 30em
	background-color gray-lighter
	border 1px solid darken(gray-lighter, 10%)
	border-radius 3px //or 0 ?

	.notification-icon
		padding 5px
	.secondary-icon
		icon-size 1em//what that does?
		
	.notification-actions
		background transparent //border color
		color gray-lighter
		font-weight bold
	
	.notification-button
		padding 8px 0
		background cyan-base
		&:hover
			background blue-light	
			
			
.notification
	font-size 10pt
	width 24em
	margin 2px
	border-radius: 0px
	color gray-base
	background-color #fff
	border 1px solid #ccc
	//box-shadow: 0 1px 4px black;
	spacing-rows 2px
	padding 2px
	spacing-columns 4px
	background gray-base

.summary-source-counter
	background-color gray-lighter

.notification-unexpanded
	background gray-base
	
.notification-body
	background blue-light		
		
.message
	padding 4px 0 0 0 
	background #fff
	box-shadow  0px 0px 1px rgba(0,0,0,0.07)
	border-radius 3px
	color gray-base
	font-weight normal
	font-size 10pt
	border 1px solid rgba(0,0,0,0.1)
	//border-bottom none
	&:hover
	&:focus
		font-size 10pt
		color blue-light	

.message-icon-bin
	padding 2px 0px 5px 5px
	&:rtl
		padding 5px 5px 3px 0px //pff, rtl

.message-icon-bin StIcon
	icon-size 48px


//Message List
.message-list
	width 420px

.message-list-sections
	spacing 1.0em


.message-list-section
.message-list-section-list
	spacing 0.4em


.message-list-section-title-box
	spacing 0.4em
	

.message-list-section-close > StIcon
	icon-size 16px
	background-color red-base
	color gray-lighter
	padding 1px
	border-radius 9px

//close buttons

.window-close
.notification-close
  background-color gray-lighter
  background-size 32px
  height 32px
  width 32px
  color gray-base

.window-close
	-shell-close-overlap: 16px;
	&:rtl
		-st-background-image-shadow 2px 2px 6px rgba(0,0,0,0.5)



 
