.osd-panel
  color gray-lighter
  background-color gray-base
  border 1px solid darken(gray-base, 10%)
  border-radius 3px
  padding 5px

.osd-window	
	background gray-base
	text-align center
	font-weight bold
	spacing 1em
	font-size 1.1em
	margin 32px
	min-width 64px
	min-height 64px
	border-radius 3px
	.osd-monitor-label  
		font-size 3em
	.level 
		height 0.6em
		border-radius 3px
		background-color darken(gray-lighter, 30%)
		color blue-light



.workspace-switcher-group 
	padding 12px
	

.workspace-switcher 
	border 0px
	border-radius 3px
	padding 0px
	spacing 8px  


.ws-switcher-active-up
	height 50px
	background-color cyan-base
	color gray-lighter
	background-image url("assets/ws-switch-arrow-up.svg")
	background-size 32px
	border-radius 3px
	
.ws-switcher-active-down
	background-color cyan-base
	background-image url("assets/ws-switch-arrow-down.svg") 
	color gray-lighter

.ws-switcher-box 
	height: 50px
	border: none
	background transparent
	border-radius: 3px
