.app-view-control.button  //favorties | all toggle button
	background gray-lighter
	color gray-base
	font-weight bold
	font-size 1.0em
	border none
	box-shadow none
	padding 10px 25px
	border-radius 0px
	&:active
	&:checked
		background blue-light
		color gray-lighter

.window-close
	background url(close-window-img)
	background-size 32px
	width 32px
	height 32px


#overview
	spacing 24px

// LETS TRY THIS
/*
.all-apps
	StBin
		height 78px
		width 78px
		*/

/*
#overview
	ShellGenericContainer
		StWidget
			background gray-lighter
			height 96px
			width 96px
			& StIcon
				height 140px
				width 140px
*/

.overview-controls
	padding-bottom 32px

.window-picker  //container around window thumbnails
	-horizontal-spacing 32px
	-vertical-spacing 32px
	padding-left 32px
	padding-right 32px
	padding-bottom 48px
		&.external-monitor
			padding 32px

.window-clone-border
	border 4px solid blue-light
	border-radius 3px

.window-caption
	spacing 25px //what that does?
	font-size 1.1em
	font-weight bold
	border-radius 3px
	background-color gray-light
	padding 6px 15px
	border 1px solid darken(gray-light, 10%)
	-shell-caption-spacing 12px
	&:hover
		background-color blue-dark
		color gray-lighter
		border 1px solid darken(blue-dark, 10%)


.search-entry
	font-size 1.1em
	font-weight bold
	width 300px
	padding 8px 9px
	border-radius 3px
	color popup-fg-c
	background popup-bg-c
	//border 1px solid #444
	&:focus
		padding 7px 8px
		border-width 2px
		color popup-fg-c
		background popup-bg-c
	.search-entry-icon
		icon-size 1.1em
		padding 0 4px
		color gray-base
	&:focus
		.search-entry-icon
			color gray-base



.app-well-app-running-dot  //running apps indicator
	width 24px
	height 3px
	background-color blue-light
	margin-bottom 2px


.icon-grid
	spacing 10px
	-shell-grid-horizontal-item-size 136px
	-shell-grid-vertical-item-size 136px
	.overview-icon
		icon-size 96px
/*
#searchResultsBin
	background gray-base
	padding 10px
	border-radius 3px
	max-width 2000px

.app-well-app
	background blue-light
	border-radius 3px



/*
Search resluts
*/
