#panel
	background-color gray-base
	height 38px
	margin-top 0px
	font-size 14px



.panel-corner
	-panel-corner-radius 0px //bad corners on gtk2

#panelActivities
	border none
	//background-image url(activities-img)
	//background-size 24px 24px
	//background-position 8px 4px
	margin-right 20px
	//color rgba(0,0,0,0.0)
	//width 48px
	&:hover
		//background-image url(activities-img)
	//&:overview
		//background-image url(activities-img)

.panel-button
	color gray-lighter
	&:hover
		transition-duration 200ms
		background-color: rgba(0, 0, 0, 0.01);
		box-shadow: inset 0 -3px 0px blue-light
	&:active
	&:overview
	&:focus
	&:checked
		transition-duration 200ms
		background-color: rgba(0, 0, 0, 0.01);
		box-shadow: inset 0 -3px 0px lime-base
	.system-status-icon
		icon-size 1.2em
		padding: 0 5px

.app-menu-icon
	-st-icon-style $-st-icon-style

.ripple-box
	width 52px
	height 52px
	background-image url(corner-ripple-ltr-img)
	background-size contain

.ripple-box:rtl
	background-image url(corner-ripple-rtl-img)

//not really top bar only
.popup-menu-arrow
	width 16px
	height 16px
.popup-menu-icon
	icon-size: 1.30em //1.09 default || popovers icons

//.panel-button
