#panel	
	background-color gray-base	
	height 32px
    
.panel-corner
	-panel-corner-radius 0px //bad corners on gtk2

#panelActivities
	border: none;
	background-image url(activities-img)
	background-size 24px 24px
	background-position: 8px 4px	
	margin-right 20px
	color rgba(0,0,0,0.0)	
	width 48px	
	&:hover
		background-image url(activities-img)   
	&:overview
		background-image url(activities-img)	

.panel-button 
	color gray-lighter	
	&:hover		
		background blue-light
	&:active
	&:overview
	&:focus
	&:checked 
		background blue-light
		box-shadow none

		
.app-menu-icon
	-st-icon-style $-st-icon-style
	
	
.ripple-box 
	width 52px
	height 52px
	background-image url(corner-ripple-ltr-img)
	background-size contain	

.ripple-box:rtl
	background-image url(corner-ripple-rtl-img)

//not really top bar only
.popup-menu-arrow 
	width 16px
	height 16px
.popup-menu-icon
	icon-size: 1.30em //1.09 default || popovers icons	
	
