/* Colors */
gray-base = #31363d
gray-light = #505359
gray-lighter = #e6e8eb



blue-light = #13b1d5
blue-dark = #199AB7
blue-darker = #005fb3 //new color


red-base = #c72240
red-lighter = #d63f5b

lime-base = #a1ce4b
cyan-base = #37b9a5
cyan-darker = #37A191
yellow-base = #eedc43
orange-base = #ffa622
purple-base = #9cb7e0

/* try  generic names */

popup-bg-c = gray-lighter //popup background color
popup-fg-c = gray-base
popup-fg-s-c = blue-light //foreground active color

workspace-bg-c = darken(gray-base, 60%) //more contrast


/* icons */
activities-img = 'assets/start-here.svg'
close-window-img = 'assets/close-window.svg'
$-st-icon-style = regular //requested , symbolic, regular
dash-9dots-img = 'assets/start-here.svg' //dah, doesnt fit!


//switches
switch-off-img = 'assets/switch-off.svg'
switch-on-img = 'assets/switch-on.svg'
switch-intl-off-img = 'assets/switch-intl-off.svg'
switch-intl-on-img = 'assets/switch-intl-on.svg'


//checkboxes
checkbox-img = 'assets/checkbox.svg'
checkbox-focused-img = 'assets/checkbox-focused.svg'
checkbox-off-img = 'assets/checkbox-off.svg'
checkbox-off-focused-img = 'assets/checkbox-off-focused.svg'

corner-ripple-ltr-img = 'assets/corner-ripple-ltr.png'
corner-ripple-rtl-img ='assets/corner-ripple-rtl.png'


/*globals*/

$calendar-max-scroll = 400px // from calendar ..cant accept max-height, seriously?! Do extension here

stage
	font-family Cantarel, Ubuntu, Sans-Serif //'Laffayette Comic Pro'
	//font-size 10pt that brakes aggreagate menu, 11pt works though :/
	font-size 13px

/*
 For a custom background

#overview
	background-color rgba(0,0,0,0.4)

*/	
